
body{
    font-family: 'Montserrat';
}

#title{
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid{
    padding:3% 15%;
}


h1{
    font-family: 'Ubuntu';
    font-size: 3.5rem;
    line-height: 1.5;
}

h2{
    font-family: "Ubuntu";
    font-size: 3rem;
    line-height: 1.5;
}
h3{
    font-family: "Ubuntu";
    font-size: 1.5rem;
}

p {
    color: grey;
    font-size: 14px;
}

/* Navigation bar */

.navbar {
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
}

/* Download Button */

.download-button{
    margin: 5% 3% 5% 0;
}

/* Heading  */

.big-heading{
    text-align: left;
}

/* Title image */

.title-img{
    width: 22%;
    transform: rotate(20deg);
    position: absolute;
    right: 20%;
}

/* Section Features */

#features{
    text-align: center;
    padding: 7% 20%;
    background-color: #fff;
    position: relative;
   
}

.logo{
    color: #ef8172;
    margin-bottom: 1rem;
}

.logo:hover{
    color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
    padding: 150px;
    text-align: center;
}

.pricing-column  {  
    padding: 3% 2%;
}

/* CTA */

#cta{
    background-color: #ff4c68;
    padding: 7% 15%;
    text-align: center;
 
}


/* Footer  */

#footer{
    text-align: center;
    padding: 3% 5%;
}

.footer-icon{
    padding: 20px 15px;
}

@media (max-width: 1024px) {
    #title{
        text-align: center;
    }

    .title-img{
        position: static;
        transform: rotate(0);
        width: 60%;
    }        
}